/* ===================== shared styles ===================== */
:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    font-size: 1.6rem;
}

/* ===================== header ===================== */

/* --------- navbar --------- */
/* --------- banner --------- */

/* ===================== main ===================== */

/* --------- we are gamer section --------- */

/* --------- funny videos section --------- */

/* --------- play instantly section --------- */

/* --------- play games section --------- */

/* --------- careers section --------- */

/* --------- genre section --------- */

/* ===================== footer ===================== */