/* ===================== shared styles ===================== */
:root {
    font-size: 62.5%;
    --primary-color: #FF42A5;
    --primary-lr-padding: 180px;
    --primary-tb-margin: 120px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 1.6rem;
}

.hide {
    display: none;
}

section {
    padding: 0px var(--primary-lr-padding);
    margin: var(--primary-tb-margin) 0px;
    border: 1px solid saddlebrown;
}

.section-heading {
    color: #0B0223;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
}

.paragraph-style-1 {
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

.paragraph-style-2 {
    color: #534C64;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
}

.primary-button {
    padding: 21px 40px;
    border: none;
    outline: none;
    border-radius: 48px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.pink-btn {
    background-image: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 100%);
}


.nav-footer-logo-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-footer-logo {
    color: #0B0223;
    font-size: 4.5rem;
    font-weight: 700;
}

.nav-footer-logo>span {
    background-image: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* ===================== header ===================== */
header {
    /* height: 700px; */
    border: 1px solid tomato;
}

/* --------- navbar --------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px var(--primary-lr-padding);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav>ul {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 32px;
}

nav>ul li a {
    color: #3C354F;
    font-size: 1.8rem;
    font-weight: 500;
}

nav>ul :last-child a {
    padding: 18px 24px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    display: flex;
    gap: 16px;
}

/* --------- banner --------- */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--primary-lr-padding);
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

.banner-container div {
    width: 50%;
}

.banner-description>h4 {
    color: #0B0223;
    font-size: 3.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-description>h1 {
    font-size: 7.5rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.banner-description>ul {
    text-align: left;
    margin: 24px 0px;
}

.banner-description>ul li {
    margin-bottom: 16px;
}

.banner-description>ul li i {
    margin-right: 10px;
}

.blue-btn {
    background-color: #4EC5F7;
}

.banner-image-container>img {
    width: 100%;
}

/* ===================== main ===================== */

/* --------- we are gamer section --------- */
.we-are-gamer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 40px var(--primary-lr-padding);
    margin: 0px 0px;
}

.we-are-gamer-image-holder {
    width: 60%;
}

.we-are-gamer-image-holder img {
    width: 100%;
}

.we-are-gamer-description {
    width: 40%;
    text-align: right;
}

.we-are-gamer-description>h3 {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.purpose {
    color: #534C64;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 45px;
}

.unleash {
    color: #534C64;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 45px;
}

/* --------- funny videos section --------- */

.funny-videos-section {
    text-align: center;
}

.funny-videos-section>h3 span {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.funny-videos-card-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.card-body {
    width: 242px;
    height: 282px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
    margin: 48px 0px 24px 0px;
}

.card-body>img {
    width: 100%;
}

.card-top-layer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -102%;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 2px solid var(--primary-color);
    transition: .5s;
}

.card-top-layer i {
    color: white;
    cursor: pointer;
}

.card-top-layer h5 {
    font-size: 2rem;
    margin-top: 16px;
    color: var(--primary-color);
}

.funny-videos-card:hover .card-top-layer {
    right: 0;
}


/* .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -102%;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 2px solid var(--primary-color);
    transition: .3s;
}

.card-body i {
    color: white;
    cursor: pointer;
}

.card-body h5 {
    font-size: 2rem;
    margin-top: 16px;
    color: var(--primary-color);
}

.funny-videos-card:hover .card-body{right: 0;} */

/* --------- play instantly section --------- */

/* --------- play games section --------- */

/* --------- careers section --------- */

/* --------- genre section --------- */

/* ===================== footer ===================== */